@import "tailwindcss";

@theme {
  --color-primary: #1e293b;
  --color-secondary: #334155;
}

:root {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

body {
  @apply bg-gray-50 text-slate-900;
}